@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .striped tr:nth-child(even) {
    @apply bg-gray-300
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: black;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
